body{
    color: purple;
    text-align: center;
}
#div1{
    background-image: url('/home/rennie_quin/Documents/moringa-school-projects/pizza-paradiso/images/pizza-pic1.png');
}
form{
    background-image: url('/home/rennie_quin/Documents/moringa-school-projects/pizza-paradiso/images/pizza-pic2.png');
}
